*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Plus Jakarta Sans', 'DM Sans', Inter, sans-serif;
    background: #FDF3E7;
    color: #1a1207;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding: 8px 18px;
}

.logo {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo h1 {
  font-size: 22px;
}

.nav-links{
    margin-top: 8px;
    display: flex;
    list-style: none;
    gap: 2px;
    padding: 12px 18px;
    border-radius: 50px;
    border: 2px solid #ffa229;
    box-shadow: 0 0 10px #ffa229;
    transition: 0.3s;
}

.nav-links:hover{
    transform: translateY(3px);
    box-shadow: 0 0 20px #ffa229;
    padding: 14px 20px;
}

.nav-links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    color: #412402;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #a85f00;
    font-size: 17px;
    font-weight: 500;
    transform: translateY(3px);
}


.hero{
    padding: 56px 32px 40px;
    text-align: center;
}

.hero-badge{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #f5a624;
    color: #412402;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 14px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.15;
    margin: auto auto 20px;
    max-width: 590px;
}

.hero h1 span {
    color: #C47B0A;
}

.hero p{
    font-size: 16px;
    color: #6b5a40;
    max-width: 530px;
    margin: auto auto 32px;
}


.search-bar{
    display: flex;
    align-items: center;
    background: #fff;
    border: 1.5px solid #f5a623;
    border-radius: 50px;
    padding: 6px 8px 6px 20px;
    max-width: 550px;
    margin: 0 auto 16px;
    gap: 8px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: #b09070;
}

.search-btn {
    background: #f5a623;
    color: #412402;
    border: none;
    border-radius: 50px;
    padding: 8px 22px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}